@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400&display=swap');

.navbar {
    background: none !important;
}

.navbar-brand img{
    width: 5rem;
    height: auto;
}

.navbar-brand span, .footer-brand{
    font-size: 125%;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,.65);
    text-decoration: none;
}

.hero {
    background: #FFC10608;
}

.speaker.card {
    background: white !important;
}

.date-table {
    font-size: 125%;
}

.limited-width-lg {
    /*70% on bigger screen*/
    width: 70%;
}

@media only screen and (max-width: 992px) {
    .limited-width-lg {
        /*100% on small screen*/
        width: 100%;
    }
}
