@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400&display=swap');

.navbar {
    background: none !important;
}

.navbar-brand img{
    height: 5rem;
    width: auto;
    margin-right: 1rem;
}
@media only screen and (max-width: 992px) {
    .navbar-brand img{
        height: 11vw;
        margin-right: 0;
        padding-right: 0;
    }
}

.navbar-brand span, .footer-brand{
    font-size: 125%;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    color: rgba(0,0,0,.65);
    text-decoration: none;
}

.hero {
    background: #FFC10608;
}

.speaker.card {
    background: white !important;
}

.date-table {
    font-size: 125%;
}

.limited-width-lg {
    /*70% on bigger screen*/
    width: 70%;
}

@media only screen and (max-width: 992px) {
    .limited-width-lg {
        /*100% on small screen*/
        width: 100%;
    }
}

img.experience{
    transition: transform 2s ease;
}

img.experience:hover{
    /*zoom a little*/
    transform: scale(1.2);
}
