<div class="container">
    <footer class="py-5">
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <img src="/kcd-istanbul-logo.png" alt="Logo" class="d-inline-block align-text-top" style="width: 120px; height: auto;">
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="https://events.linuxfoundation.org/about/code-of-conduct/" target="_blank" class="nav-link px-2 text-body-secondary">Code of Conduct</a></li>
                <li class="nav-item"><a href="/privacy-policy/" class="nav-link px-2 text-body-secondary">Privacy Policy</a></li>
                <li class="nav-item"><a href="https://github.com/cloud-native-istanbul/kcd-istanbul" target="_blank" class="nav-link px-2 text-body-secondary">Source Code</a></li>
            </ul>
            <ul class="list-unstyled d-flex">
                <!-- TODO -->
                <li class="ms-3"><a class="link-body-emphasis" href="https://twitter.com/CloudNative_IST" target="_blank"><i class="bi bi-twitter-x"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="https://www.linkedin.com/company/cloudnativeistanbul" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="https://www.google.com/maps?ll=40.993508,29.102067&z=19&t=m&hl=en&gl=US&mapclient=embed&cid=4929107779928431731" target="_blank"><i class="bi bi-map"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="mailto:contact@kcd.istanbul" target="_blank">contact@kcd.istanbul</a></li>
            </ul>
        </div>
    </footer>
</div>
