<div class="container">
    <footer class="py-5">
        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <img src="/kcd-istanbul-logo.png" alt="Logo" class="d-inline-block align-text-top" style="width: 120px; height: 56px;">
            <ul class="nav col-md-4 justify-content-end">
                <li class="nav-item"><a href="https://events.linuxfoundation.org/about/code-of-conduct/" target="_blank" class="nav-link px-2 text-body-secondary">Code of Conduct</a></li>
                <li class="nav-item"><a href="/privacy-policy/" class="nav-link px-2 text-body-secondary">Privacy Policy</a></li>
                <li class="nav-item"><a href="https://github.com/cloud-native-istanbul/kcd-istanbul" target="_blank" class="nav-link px-2 text-body-secondary">Source Code</a></li>
                <li class="nav-item"><a href="#" id="open_preferences_center" class="nav-link px-2 text-body-secondary">Cookie preferences</a></li>
            </ul>
            <ul class="list-unstyled d-flex">
                <!-- TODO -->
                <li class="ms-3"><a class="link-body-emphasis" href="https://twitter.com/CloudNative_IST" target="_blank"><i class="bi bi-twitter-x"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="https://www.linkedin.com/company/cloudnativeistanbul" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="https://www.google.com/maps?ll=40.993508,29.102067&z=19&t=m&hl=en&gl=US&mapclient=embed&cid=4929107779928431731" target="_blank"><i class="bi bi-map"></i></a></li>
                <li class="ms-3"><a class="link-body-emphasis" href="mailto:contact@kcd.istanbul" target="_blank">contact@kcd.istanbul</a></li>
            </ul>
        </div>
    </footer>
</div>

<!-- Cookie Consent by TermsFeed https://www.TermsFeed.com -->
<script type="text/javascript" src="https://www.termsfeed.com/public/cookie-consent/4.1.0/cookie-consent.js" charset="UTF-8"></script>
<script type="text/javascript" charset="UTF-8">
    document.addEventListener('DOMContentLoaded', function () {
        cookieconsent.run({"notice_banner_type":"simple","consent_type":"express","palette":"light","language":"en","page_load_consent_levels":["strictly-necessary"],"notice_banner_reject_button_hide":false,"preferences_center_close_button_hide":false,"page_refresh_confirmation_buttons":false,"website_name":"kcd.istanbul","website_privacy_policy_url":"https://kcd.istanbul/privacy-policy/"});
    });
</script>

<!-- Google Analytics -->
<script type="text/plain" data-cookie-consent="tracking" async src="https://www.googletagmanager.com/gtag/js?id=G-D8K8FQ1211"></script>
<script type="text/plain" data-cookie-consent="tracking">
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-D8K8FQ1211');
</script>
<!-- end of Google Analytics-->

<noscript>Free cookie consent management tool by <a href="https://www.termsfeed.com/">TermsFeed</a></noscript>
<!-- End Cookie Consent by TermsFeed https://www.TermsFeed.com -->

