<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

<div class="container">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/kcd-istanbul-logo.png" alt="Logo" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <div class="navbar-nav me-auto my-2 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <a class="nav-link" href="/#speakers">Speakers</a>

                    <!-- TODO: sessionize -->
                    <a class="nav-link" href="sessionize">Tickets</a>

                    <a class="nav-link" href="/cfp/">CFP</a>

                    <!-- TODO: hide -->
                    <a class="nav-link" href="/schedule/">Schedule</a>

                    <a class="nav-link" href="/sponsorship/">Sponsorship</a>

                    <a class="nav-link" href="/venue/">Venue</a>
                    <a class="nav-link" href="/team/">Team</a>
                </div>
            </div>
        </div>
    </nav>
</div>
