<div class="hero mb-5">
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-12">
<!--                <h2><span class="badge rounded-pill text-bg-warning fw-normal">May 15-16, 2024</span>-->
<!--                <h2><span class="badge rounded-pill text-bg-warning fw-normal">Yıldız Technical University</span>-->
                </h2>
                <div class="mt-4">
                    <h1 class="display-4">Kubernetes Community Days Istanbul</h1>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-sm-6">
                <h1 class="lead fs-2">
                    <a href="https://2024.kcd.istanbul" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank">KCD Istanbul 2024</a> is a wrap!
                </h1>
                <h1 class="lead fs-4">
                    Thank you for joining us at KCD Istanbul 2024! We hope you had a great time and learned a lot from our speakers and workshops. We can't wait to see you again next year!
                </h1>

                <h1 class="lead fs-4">
                    Visit our <a href="https://2024.kcd.istanbul" class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" target="_blank">2024 website</a> to see the schedule, speakers, and sponsors.
                </h1>

                <!-- TODO: uncomment when we have tickets -->
<!--                <p class="lead mt-5">-->
<!--                    <a href="https://kommunity.com/kcdistanbul/events/kubernetes-community-days-istanbul-2024-5e169d44/tickets" target="_blank" class="btn btn-warning btn-lg">Get Your Ticket!</a>-->
<!--                </p>-->
            </div>
            <div class="col-sm-6 pb-4">
                <img src="/right-banner.png" class="img-fluid"/>
            </div>
        </div>
    </div>
</div>
