<div class="hero mb-5">
    <div class="container">
        <div class="row pt-4">
            <div class="col-sm-12">
                <h2><span class="badge rounded-pill text-bg-warning fw-normal">May 15-16, 2024 - Yıldız Technical University</span>
                </h2>
                <div class="mt-4">
                    <h1 class="display-4">Kubernetes Community Days Istanbul</h1>
                </div>
            </div>
        </div>
        <div class="row pt-4">
            <div class="col-sm-6">
                <h1 class="lead fs-2">
                    Join us for an exciting journey into the heart of cloud native innovation at KCD Istanbul!
                </h1>
                <h1 class="lead fs-4">
                    As part of the global Kubernetes Community Days, our event brings together experts, enthusiasts, and
                    novices to explore the latest trends, share insights, and collaborate in the landscape of cloud native
                    technologies.
                </h1>

                <!-- TODO: uncomment when we have tickets -->
                <p class="lead mt-5">
                    <a href="https://kommunity.com/kcdistanbul/events/kubernetes-community-days-istanbul-2024-5e169d44/tickets" target="_blank" class="btn btn-warning btn-lg">Get Your Ticket!</a>
                </p>
            </div>
            <div class="col-sm-6 pb-4">
                <img src="/right-banner.png" class="img-fluid"/>
            </div>
        </div>
    </div>
</div>
