<div class="container">

    <p class="lead fs-1">
        Event Schedule
    </p>

    <p class="lead fs-2 mt-5">Day #1 - May 15, 2024</p>
    <table class="table table-striped table-hover" style="max-width: 70%;">
        <tbody>
        {{ range $k, $v := sort $.Site.Data.sessions "time" }}
            {{ if eq .day "Wed" }}
                {{ partial "sessionRow.html" (dict "siteData" $.Site.Data "session" .) }}
            {{ end }}
        {{ end }}
        </tbody>
    </table>

    <p class="lead fs-2 mt-5">Day #2 - May 16, 2024</p>
    <table class="table table-striped table-hover" style="max-width: 70%;">
        <tbody>
        {{ range $k, $v := sort $.Site.Data.sessions "time" }}
            {{ if eq .day "Thu" }}
                {{ partial "sessionRow.html" (dict "siteData" $.Site.Data "session" .) }}
            {{ end }}
        {{ end }}
        </tbody>
    </table>
</div>

{{ range $k, $v := sort $.Site.Data.speakers "index" }}
    {{ partial "speakerModal.html" (dict "siteData" $.Site.Data "speaker" .) }}
{{ end }}
