<div class="container">

    <p class="lead fs-1">
        Event Schedule
    </p>

    <details open>
      <summary class="lead fs-2 mt-5">Day #1 - May 15, 2024 <span class="badge rounded-pill text-bg-primary">Wed</span>
      </summary>
      <table class="table table-hover" style="max-width: 70%;">
          <tbody>
          {{ range $k, $v := sort $.Site.Data.sessions "time" }}
              {{ if eq .day "Wed" }}
                  {{ partial "sessionRow.html" (dict "siteData" $.Site.Data "session" .) }}
              {{ end }}
          {{ end }}
          </tbody>
      </table>
    </details>

    <details open>
      <summary class="lead fs-2 mt-5">Day #2 - May 16, 2024 <span class="badge rounded-pill text-bg-primary">Thu</span>
      </summary>
      <table class="table table-hover" style="max-width: 70%;">
          <tbody>
          {{ range $k, $v := sort $.Site.Data.sessions "time" }}
              {{ if eq .day "Thu" }}
                  {{ partial "sessionRow.html" (dict "siteData" $.Site.Data "session" .) }}
              {{ end }}
          {{ end }}
          </tbody>
      </table>
    </details>
</div>

{{ range $.Site.Data.speakers }}
    {{ partial "speakerModal.html" (dict "siteData" $.Site.Data "speaker" .) }}
{{ end }}

{{ range $.Site.Data.sessions }}
    {{ partial "sessionModal.html" (dict "siteData" $.Site.Data "session" .) }}
{{ end }}
