{{ range $k, $v := sort $.Site.Data.speakers "index" }}
    {{ if .hiddenInSpeakersView }}
        {{ continue }}
    {{ end }}
    <div class="col">
        <div class="card text-bg-light border-light speaker">
            <img src="/speakers/{{ .photo }}" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title fw-medium">
                    <span>{{ .name }}</span>
                </h5>
                <div class="card-text fw-light">
                    <div>{{ .company }}</div>
                    {{ if .twitter }}
                    <a href="https://twitter.com/{{ .twitter }}" target="_blank" class="card-link link-secondary"><i class="bi bi-twitter-x"></i></a>
                    {{ end }}
                    {{ if .linkedin }}
                    <a href="https://www.linkedin.com/in/{{ .linkedin }}" target="_blank" class="card-link link-secondary"><i class="bi bi-linkedin"></i></a>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
{{ end }}
