<!--THIS SHOULD BE A PARTIAL, NOT A SHORTCODE, but it's not working as a partial for some reason-->

<h1 class="display-5 mt-5">Platinum sponsors</h1>
<div class="row justify-content-center align-items-center">
    <!-- show platinum sponsors 1 per row-->
    <div class="col-12 px-5 py-3">
        <a href="https://www.kubezy.com" target="_blank">
            <img src="/sponsors/kubezy.png" class="img-fluid" style="max-height: 150px;"/>
        </a>
    </div>
    <div class="col-12 px-5 py-3">
        <a href="https://www.isnet.net.tr/" target="_blank">
            <img src="/sponsors/isnet.png" class="img-fluid" style="max-height: 125px;"/>
        </a>
    </div>
</div>

<hr>

<h1 class="display-5 mt-5">Gold sponsors</h1>
<div class="row justify-content-center align-items-center">
    <!-- show gold sponsors 2 per row-->
    <div class="col-6 px-sm-5 px-3 py-3" style="text-align: right;">
        <a href="https://getanteon.com/" target="_blank">
            <img src="/sponsors/anteon.svg" class="img-fluid" style="max-height: 80px;"/>
        </a>
    </div>
    <div class="col-6 px-sm-5 px-3 py-3" style="text-align: left;">
        <a href="https://www.orange-business.com/en" target="_blank">
            <img src="/sponsors/orange.png" class="img-fluid" style="max-height: 80px;"/>
        </a>
    </div>
    <div class="col-6 px-sm-5 px-3 py-3" style="text-align: center;">
        <a href="https://www.ngn.com.tr" target="_blank">
            <img src="/sponsors/ngn.svg" class="img-fluid" style="max-height: 80px;"/>
        </a>
    </div>
</div>

<hr>

<h1 class="display-5 mt-5">Silver sponsors</h1>
<div class="row justify-content-center align-items-center">
    <!-- show silver sponsors 3 per row-->
    <div class="col-4 px-2 py-3" style="text-align: right;">
        <a href="https://www.redhat.com" target="_blank">
            <img src="/sponsors/redhat.png" class="img-fluid" style="max-height: 40px;"/>
        </a>
    </div>
    <div class="col-4 px-2 py-3" style="text-align: center;">
        <a href="https://www.sufle.io" target="_blank">
            <img src="/sponsors/sufle.svg" class="img-fluid" style="max-height: 40px;"/>
        </a>
    </div>
    <div class="col-4 px-2 py-3" style="text-align: left;">
        <a href="https://omreon.com" target="_blank">
            <img src="/sponsors/omreon.png" class="img-fluid" style="max-height: 40px;"/>
        </a>
    </div>
</div>

<hr>

<h1 class="display-5 mt-5">Media sponsors</h1>
<div class="row justify-content-center align-items-center">
    <div class="col-3 px-2 py-3" style="text-align: right;">
        <a href="https://kube.careers/" target="_blank">
            <img src="/sponsors/kubecareers.svg" class="img-fluid" style="max-height: 40px;"/>
        </a>
    </div>
    <div class="col-3 px-2 py-3" style="text-align: center;">
        <a href="https://kommunity.com" target="_blank">
            <img src="/sponsors/kommunity.png" class="img-fluid" style="max-height: 40px;"/>
        </a>
    </div>
    <div class="col-3 px-2 py-3" style="text-align: left;">
        <a href="https://kube.events/ " target="_blank">
            <img src="/sponsors/kubeevents.svg" class="img-fluid" style="max-height: 50px;"/>
        </a>
    </div>
</div>
